    <footer>
        <div style="width: 100%; height: 100px; background-color: black;">
            <p style="color: white">
                Footer
            </p>
        </div>
    </footer>
</body>
</html>